<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-light navbar-white"  *ngIf="loggedIn">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="assets/images/arafat.jpg" alt="PDC Management System" class="brand-image img-circle elevation-3"
        style="height: 50px; margin-right: 12px" />
      <span class="brand-text font-weight-light">PDC Portal</span>
    </a>

    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['due-payments']" class="nav-link" routerLinkActive="active">Due Payments</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['agreements']" class="nav-link" routerLinkActive="active">Agreements</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['companies']" class="nav-link" routerLinkActive="active">Companies</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['import']" class="nav-link" routerLinkActive="active">Import Statement</a>
        </li>
      </ul>
    </div>

    <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
      <li class="nav-item dropdown">
        <button class="nav-link" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-danger navbar-badge" (click)="logout()">Logout</span>
        </button>
      </li>
    </ul>
  </div>
</nav>
<!-- /.navbar -->