<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Agreement Detail</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <!-- <div class="card-header">
              <h3 class="card-title">Agreement</h3>
  
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div> -->
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label>Start Date:</label>
              <div
                class="input-group date"
                id="startdate"
                data-target-input="nearest"
              >
                <input
                  type="text"
                  class="form-control datetimepicker-input"
                  data-target="#startdate"
                  [(ngModel)]="agreement.startDate"
                />
                <div
                  class="input-group-append"
                  data-target="#startdate"
                  data-toggle="datetimepicker"
                >
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>End Date:</label>
              <div
                class="input-group date"
                id="endDate"
                data-target-input="nearest"
              >
                <input
                  type="text"
                  class="form-control datetimepicker-input"
                  data-target="#endDate"
                  [(ngModel)]="agreement.endDate"
                />
                <div
                  class="input-group-append"
                  data-target="#endDate"
                  data-toggle="datetimepicker"
                >
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Company</label>
              <select
                id="companyDdl"
                class="form-control select2bs4"
                style="width: 100%"
                [(ngModel)]="agreement.companyId"
                name="companyDdl"
                required
              >
                <option
                  *ngFor="let category of companies"
                  [value]="category.id"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Branch</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="agreement.branch"
                placeholder="Add branch number"
              />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Floor</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="agreement.floor"
                placeholder="Add floor number"
              />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Office No.</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="agreement.officeNumber"
                placeholder="Add office number"
              />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Section</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="agreement.section"
                placeholder="Add section"
              />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Work Station</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="agreement.workStation"
                placeholder="Add works station"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Notes</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="agreement.description"
                placeholder="Add any helping notes for this agreement"
              />
            </div>
          </div>
        </div>
        <hr style="margin-top: 3%" />
        <div class="row" style="margin-top: 3%">
          <div class="col-sm-2">
            <div class="form-group">
              <h4>Payments Schedule</h4>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <button type="button" class="btn btn-outline-success btn-block">
                <i class="fas fa-plus"></i>
                New Payment
              </button>
            </div>
          </div>
        </div>

        <div
          class="row"
          *ngFor="let paymentItem of agreementPayments; let i = index"
        >
          <div class="col-sm-2">
            <div class="form-group">
              <label>Payment Due Date:</label>
              <div
                class="input-group date"
                id="paymentDueDate"
                data-target-input="nearest"
              >
                <input
                  type="text"
                  class="form-control datetimepicker-input"
                  data-target="#paymentDueDate"
                  [(ngModel)]="paymentItem.paymentDueDate"
                />
                <div
                  class="input-group-append"
                  data-target="#paymentDueDate"
                  data-toggle="datetimepicker"
                >
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <label>Amount ($)</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="paymentItem.amount"
                placeholder="Add amount"
              />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Payment Method</label>
              <app-payment-method-select
                [(selectedPaymentMethod)]="paymentItem.paymentMethod"
                (selectedPaymentMethodChange)="
                  onPaymentMethodSelected($event, i)
                "
              ></app-payment-method-select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Bank</label>
              <select
                id="bankDdl"
                class="form-control select2bs4"
                style="width: 100%"
                [(ngModel)]="agreement.companyId"
                name="bankDdl"
                required
              >
                <option *ngFor="let category of banks" [value]="category.id">
                  {{ category.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <label>Cheque No.</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="paymentItem.chequeNo"
                placeholder="If applicable"
              />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Cheque Due Date:</label>
              <div
                class="input-group date"
                id="chequeDueDate"
                data-target-input="nearest"
              >
                <input
                  type="text"
                  class="form-control datetimepicker-input"
                  data-target="#chequeDueDate"
                  [(ngModel)]="paymentItem.chequeDueDate"
                />
                <div
                  class="input-group-append"
                  data-target="#chequeDueDate"
                  data-toggle="datetimepicker"
                >
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Notes</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="paymentItem.description"
              />
            </div>
          </div>
        </div>
        <button class="btn btn-default mr_5">Cancel</button>
        <button class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content -->
