<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Agreement Detail</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Start Date:</label>
                            <input  [class.is-invalid]="invalidForm && agreement.startDate == undefined" type="text" placeholder="Start Date" class="form-control"
                                [(ngModel)]="agreement.startDate" bsDatepicker [bsConfig]="{
                  adaptivePosition: true,
                  dateInputFormat: 'DD-MM-YYYY'
                }" />
                <span class="error invalid-feedback">Required field</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>End Date:</label>
                            <input type="text" [class.is-invalid]="invalidForm && agreement.endDate == undefined" placeholder="End Date" class="form-control"
                                [(ngModel)]="agreement.endDate" bsDatepicker [bsConfig]="{
                  adaptivePosition: true,
                  dateInputFormat: 'DD-MM-YYYY'
                }" />
                <span class="error invalid-feedback">Required field</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Company</label>
                            <select id="companyDdl" [class.is-invalid]="invalidForm && agreement.companyId == 0" class="form-control select2bs4" style="width: 100%"
                                [(ngModel)]="agreement.companyId" name="companyDdl" required #companyDdl="ngModel"
                                (change)="onCompanySelect($event)">
                                <option *ngFor="let category of companies" [value]="category.id">
                                    {{ category.name }}
                                </option>
                            </select>
                            <span class="error invalid-feedback">Required field</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Branch</label>
                            <input type="text" class="form-control" [(ngModel)]="agreement.branch" placeholder="Type branch name"/>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Floor</label>
                            <input type="text" class="form-control" [(ngModel)]="agreement.floor"  placeholder="Type floor number"/>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Office No.</label>
                            <input type="text" class="form-control" [(ngModel)]="agreement.officeNumber" placeholder="Type office number"/>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Section</label>
                            <input type="text" class="form-control" [(ngModel)]="agreement.section" placeholder="Type section"/>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Work Station</label>
                            <input type="text" class="form-control" [(ngModel)]="agreement.workStation" placeholder="Type workstation"/>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" [(ngModel)]="agreement.description" placeholder="Type price"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <h4>Payments Schedule</h4>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-block btn-outline-success"
                                (click)="insertNewPayment()">
                                <i class="fas fa-plus"></i>
                                Insert New Payment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="payment-table" #dynamicDropdownContainer>
                    <tr *ngFor="let paymentItem of agreementPayments; let i = index">
                        <div class="row payment-row">
                            <div class="col-sm-1" style="width: 6%;">
                                <div class="form-group">
                                    <label>No.</label>
                                    <div class="input-group">
                                        <p>{{ i + 1 }}</p>
                                        <button (click)="removePaymentRow(i,template)" class="btn mtm-10">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label>Due Date:</label>
                                    <input type="text" placeholder="Payment Due Date" class="form-control"
                                        [(ngModel)]="paymentItem.paymentDueDate" bsDatepicker [bsConfig]="{
                      adaptivePosition: true,
                      dateInputFormat: 'DD-MM-YYYY'
                    }" />
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="number" class="form-control" [(ngModel)]="paymentItem.amount" />
                                </div>
                            </div>
                            <div class="col-sm-1" style="width: 10%">
                                <div class="form-group">
                                    <label>Method</label>
                                    <app-payment-method-select [(selectedPaymentMethod)]="paymentItem.paymentMethod"
                                        (selectedPaymentMethodChange)="
                      onPaymentMethodSelected($event, i)
                    "></app-payment-method-select>
                                </div>
                            </div>
                            <div class="col-sm-2" style="width: 10%" *ngIf="paymentItem.paymentMethod == 0">
                                <div class="form-group">
                                    <label>Chq Date:</label>
                                    <input type="text" placeholder="Cheque Due Date" class="form-control"
                                        [(ngModel)]="paymentItem.chequeDueDate" bsDatepicker [bsConfig]="{
                      adaptivePosition: true,
                      dateInputFormat: 'DD-MM-YYYY'
                    }" />
                                </div>
                            </div>
                            <div class="col-sm-1" *ngIf="paymentItem.paymentMethod == 0">
                                <div class="form-group">
                                    <label>Chq No.</label>
                                    <input type="text" class="form-control" [(ngModel)]="paymentItem.chequeNo" placeholder="Cheque no"/>
                                </div>
                            </div>
                            <div class="col-sm-2"  style="width: 10%" *ngIf="paymentItem.paymentMethod == 0">
                                <div class="form-group">
                                    <label>Chq Bank</label>
                                    <select class="form-control select2bs4" style="width: 100%"
                                        [(ngModel)]="paymentItem.senderBankId" required initializeSelect2
                                        [attr.data-index]="i" data-bank="sender">
                                        <option *ngFor="let bank of banks" [value]="bank.id">
                                            {{ bank.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2" style="width: 10%" *ngIf="paymentItem.paymentMethod != 1">
                                <div class="form-group">
                                    <label>Rcvr Bank</label>
                                    <select class="form-control select2bs4" style="width: 100%"
                                        [(ngModel)]="paymentItem.receiverBankId" required initializeSelect2
                                        [attr.data-index]="i" data-bank="receiver">
                                        <option *ngFor="let bank of banks" [value]="bank.id">
                                            {{ bank.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-1" style="width: 10%">
                                <div class="form-group">
                                    <label>Pymt Status</label>
                                    <app-payment-status-select [(selectedPaymentStatus)]="paymentItem.paymentStatus"
                                        (selectedPaymentStatusChange)="onPaymentMethodStatus($event, i)"></app-payment-status-select>
                                </div>
                            </div>
                            <div class="col-sm-2" style="width: 18%">
                                <div class="form-group">
                                    <label>Notes</label>
                                    <!-- <input type="text" class="form-control" [(ngModel)]="paymentItem.description" /> -->
                                    <textarea type="text" class="form-control"
                                        [(ngModel)]="paymentItem.description" placeholder="Type note about this payment"></textarea>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>

            <div class="card-footer">
                <button class="btn btn-default mr_5" (click)="backClicked()">
                    Cancel
                </button>
                <button class="btn btn-success float-right" (click)="submitAgreement()">
                    Save
                </button>
            </div>
        </div>
    </div>
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Sure about deleting this payment?</h4>
            <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>This action is irreversible and the payment data will be permanently removed.</p>

            <button type="button" class="btn btn-primary mr_5" (click)="decline()">Cancel</button>
            <button type="button" class="btn btn-outline-danger" (click)="confirm()">Confirm</button>
        </div>
    </ng-template>

</div>

<!-- /.content -->