<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-3">
        <h1>Agreements</h1>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <!-- <button type="button" class="btn btn-outline-primary">
                  <i class="fas fa-plus"></i>
                  Add New Agreement
              </button> -->
          <a [routerLink]="['add']" class="btn btn-block btn-outline-success"><i class="fas fa-plus"></i> Add New
            Agreement</a>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</div>


<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="card-header">
            <h3 class="card-title">Filters</h3>
            <div class="float-right">
              <button class="btn-default mr_5" (click)="searchAgreements()">Search</button>
              <button class="btn-default" (click)="clearSearchFilters()">Clear</button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="monthDdl">Month</label>
                  <app-month-select [selectedMonth]="selectedMonthParent"
                    (selectedMonthChange)="onMonthSelected($event)"></app-month-select>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <label for="companyDdl">Company</label>
                  <select id="companyDdl" class="form-control select2bs4" style="width: 100%;"
                    [(ngModel)]="agreementSearchFilter.companyId" name="companyDdl" required>
                    <option *ngFor="let category of companies" [value]="category.id">
                      {{category.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-stats">
            <h3 class="card-title ml_5"><b>Agreement Stat(s):</b></h3>
            <span class="font-color-blue"><b>Total Price:</b> {{totalPrice}}</span>
          </div>
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Company</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Branch</th>
                  <th>Floor</th>
                  <th>Office No</th>
                  <th>Section</th>
                  <th>Work Station</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of agreements; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{getCompanyName(item.companyId)}}</td>
                  <td>{{item.startDate | date:'dd-MMM-y'}}</td>
                  <td>{{item.endDate | date:'dd-MMM-y'}}</td>
                  <td>{{ item.branch }}</td>
                  <td>{{item.floor}}</td>
                  <td>{{item.officeNumber}}</td>
                  <td>{{item.section}}</td>
                  <td>{{item.workStation}}</td>
                  <td>{{item.description}}</td>
                  <td>
                    <a [routerLink]="[item.id]">Edit</a>
                  </td>
                </tr>

              </tbody>

            </table>
          </div>
          <div class="overlay" *ngIf="loading">
            <i class="fas fa-spinner fa-spin"></i>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content -->